@media (min-width: 992px) {
  .teaser__description {
    line-height: 1.25em;
    font-size: 30px;
  }
}

.text pre {
  letter-spacing: normal;
  background-color: #f5f5f5;
  padding: 20px;
  white-space: pre-wrap;
}

.text--white {
  color: #fff;
}

.text--white a {
  color: #fff;
  text-decoration: underline;
}

.text--white ul li::before {
  background-color: #fff;
}

.text--white ol li::before {
  color: #fff;
}

.text--white blockquote {
  border-color: #fff;
  color: #fff;
}

.text--white pre {
  color: #110c1e;
}

.text--larger {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
}

.text--larger.text--dark {
  color: #fff;
}

.text h5 {
  font-weight: 700;
}

.text b {
  font-weight: 700;
}

.text i {
  font-style: italic;
}

.text a {
  color: #5a3a97;
}

.text a:hover {
  text-decoration: underline;
}

.text ul {
  list-style: none;
}

.text ul li::before {
  content: "";
  background-color: #7eaa38;
  border-radius: 3px;
  display: inline-block;
  height: 6px;
  margin-right: 10px;
  margin-bottom: 2px;
  width: 6px;
}

.text ol li {
  counter-increment: index;
}

.text ol li::before {
  content: counter(index) ". ";
  color: #7eaa38;
  font-weight: 700;
}

.text blockquote {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  color: #5a3a97;
  font-size: 30px;
  line-height: 44px;
  padding: 30px 0 60px;
}

.text pre {
  font-family: "Courier New", "Courier", monospace;
  font-size: 16px;
  line-height: 24px;
  color: #110c1e;
  text-align: left;
  font-weight: 400;
}

.text--larger {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
}

@media (min-width: 600px) {
  .text--larger {
    font-size: 18px;
    line-height: 30px;
  }
}

.title .cmp-title__text {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  color: #5a3a97;
  font-weight: 400;
  font-size: 36px;
}

@media (min-width: 992px) {
  .title .cmp-title__text {
    font-size: 60px;
  }
}

.title--purple .cmp-title__text {
  color: #5a3a97;
}

.title--white .cmp-title__text {
  color: #fff;
}

.title--green .cmp-title__text {
  color: #7eaa38;
}

.title--black .cmp-title__text {
  color: #000;
}

.title--large .cmp-title__text {
  font-size: 48px;
}

@media (min-width: 992px) {
  .title--large .cmp-title__text {
    font-size: 60px;
  }
}

.title--big .cmp-title__text {
  font-size: 30px;
}

@media (min-width: 992px) {
  .title--big .cmp-title__text {
    font-size: 36px;
  }
}

.title--medium .cmp-title__text {
  font-size: 24px;
}

@media (min-width: 992px) {
  .title--medium .cmp-title__text {
    font-size: 30px;
  }
}

.title--small .cmp-title__text {
  font-size: 24px;
}

.title--light .cmp-title__text {
  font-weight: 300;
}

.title--normal .cmp-title__text {
  font-weight: 400;
}

.title--semibold .cmp-title__text {
  font-weight: 600;
}

.title--bold .cmp-title__text {
  font-weight: 700;
}

.title .cmp-title__text {
  line-height: 1.2em;
}

.video__youtube,
.video__wistia {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video__youtube__iframe,
.video__wistia__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i");

.responsivegrid.aem-grid-type--flex > .aem-Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: 100%;
}

.responsivegrid.aem-grid-type--block > .aem-Grid {
  display: block;
}

.full-container {
  display: block;
}

.responsivegrid {
  display: block;
}

.responsivegrid.aem-grid-type--align > .aem-Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 992px) {
  .aem-Grid.aem-Grid--default--1 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--2 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--default--2 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--3 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--default--3 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--default--3 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--4 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--default--4 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--default--4 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--default--4 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--5 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 19.9%;
  }

  .aem-Grid.aem-Grid--default--5 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 39.9%;
  }

  .aem-Grid.aem-Grid--default--5 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 59.9%;
  }

  .aem-Grid.aem-Grid--default--5 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 79.9%;
  }

  .aem-Grid.aem-Grid--default--5 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--6 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 16.56667%;
  }

  .aem-Grid.aem-Grid--default--6 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--default--6 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--default--6 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--default--6 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 83.23333%;
  }

  .aem-Grid.aem-Grid--default--6 > .aem-GridColumn.aem-GridColumn--default--6 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--7 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 14.18571%;
  }

  .aem-Grid.aem-Grid--default--7 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 28.47143%;
  }

  .aem-Grid.aem-Grid--default--7 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 42.75714%;
  }

  .aem-Grid.aem-Grid--default--7 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 57.04286%;
  }

  .aem-Grid.aem-Grid--default--7 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 71.32857%;
  }

  .aem-Grid.aem-Grid--default--7 > .aem-GridColumn.aem-GridColumn--default--6 {
    width: 85.61429%;
  }

  .aem-Grid.aem-Grid--default--7 > .aem-GridColumn.aem-GridColumn--default--7 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 12.4%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 37.4%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 62.4%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--6 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--7 {
    width: 87.4%;
  }

  .aem-Grid.aem-Grid--default--8 > .aem-GridColumn.aem-GridColumn--default--8 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 11.01111%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 22.12222%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 44.34444%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 55.45556%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--6 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--7 {
    width: 77.67778%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--8 {
    width: 88.78889%;
  }

  .aem-Grid.aem-Grid--default--9 > .aem-GridColumn.aem-GridColumn--default--9 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 9.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 19.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 29.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 39.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--6 {
    width: 59.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--7 {
    width: 69.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--8 {
    width: 79.9%;
  }

  .aem-Grid.aem-Grid--default--10 > .aem-GridColumn.aem-GridColumn--default--9 {
    width: 89.9%;
  }

  .aem-Grid.aem-Grid--default--10
    > .aem-GridColumn.aem-GridColumn--default--10 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 8.99091%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 18.08182%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 27.17273%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 36.26364%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 45.35455%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--6 {
    width: 54.44545%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--7 {
    width: 63.53636%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--8 {
    width: 72.62727%;
  }

  .aem-Grid.aem-Grid--default--11 > .aem-GridColumn.aem-GridColumn--default--9 {
    width: 81.71818%;
  }

  .aem-Grid.aem-Grid--default--11
    > .aem-GridColumn.aem-GridColumn--default--10 {
    width: 90.80909%;
  }

  .aem-Grid.aem-Grid--default--11
    > .aem-GridColumn.aem-GridColumn--default--11 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--1 {
    width: 8.23333%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--2 {
    width: 16.56667%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--3 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--4 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--5 {
    width: 41.56667%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--6 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--7 {
    width: 58.23333%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--8 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--9 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--default--12
    > .aem-GridColumn.aem-GridColumn--default--10 {
    width: 83.23333%;
  }

  .aem-Grid.aem-Grid--default--12
    > .aem-GridColumn.aem-GridColumn--default--11 {
    width: 91.56667%;
  }

  .aem-Grid.aem-Grid--default--12
    > .aem-GridColumn.aem-GridColumn--default--12 {
    width: 99.9%;
  }

  .aem-Grid > .aem-GridColumn.aem-GridColumn--default--newline:before,
  .aem-Grid > .aem-GridColumn.aem-GridColumn--default--newline:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
  }

  .aem-Grid > .aem-GridColumn.aem-GridColumn--default--newline:after {
    clear: both;
  }

  .aem-Grid > .aem-GridColumn.aem-GridColumn--default--hide {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 599px) {
  .aem-Grid.aem-Grid--phone--1 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--2 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--phone--2 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--3 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--phone--3 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--phone--3 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--4 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--phone--4 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--phone--4 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--phone--4 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--5 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 19.9%;
  }

  .aem-Grid.aem-Grid--phone--5 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 39.9%;
  }

  .aem-Grid.aem-Grid--phone--5 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 59.9%;
  }

  .aem-Grid.aem-Grid--phone--5 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 79.9%;
  }

  .aem-Grid.aem-Grid--phone--5 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--6 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 16.56667%;
  }

  .aem-Grid.aem-Grid--phone--6 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--phone--6 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--phone--6 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--phone--6 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 83.23333%;
  }

  .aem-Grid.aem-Grid--phone--6 > .aem-GridColumn.aem-GridColumn--phone--6 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--7 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 14.18571%;
  }

  .aem-Grid.aem-Grid--phone--7 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 28.47143%;
  }

  .aem-Grid.aem-Grid--phone--7 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 42.75714%;
  }

  .aem-Grid.aem-Grid--phone--7 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 57.04286%;
  }

  .aem-Grid.aem-Grid--phone--7 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 71.32857%;
  }

  .aem-Grid.aem-Grid--phone--7 > .aem-GridColumn.aem-GridColumn--phone--6 {
    width: 85.61429%;
  }

  .aem-Grid.aem-Grid--phone--7 > .aem-GridColumn.aem-GridColumn--phone--7 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 12.4%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 37.4%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 62.4%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--6 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--7 {
    width: 87.4%;
  }

  .aem-Grid.aem-Grid--phone--8 > .aem-GridColumn.aem-GridColumn--phone--8 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 11.01111%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 22.12222%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 44.34444%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 55.45556%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--6 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--7 {
    width: 77.67778%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--8 {
    width: 88.78889%;
  }

  .aem-Grid.aem-Grid--phone--9 > .aem-GridColumn.aem-GridColumn--phone--9 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 9.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 19.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 29.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 39.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--6 {
    width: 59.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--7 {
    width: 69.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--8 {
    width: 79.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--9 {
    width: 89.9%;
  }

  .aem-Grid.aem-Grid--phone--10 > .aem-GridColumn.aem-GridColumn--phone--10 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 8.99091%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 18.08182%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 27.17273%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 36.26364%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 45.35455%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--6 {
    width: 54.44545%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--7 {
    width: 63.53636%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--8 {
    width: 72.62727%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--9 {
    width: 81.71818%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--10 {
    width: 90.80909%;
  }

  .aem-Grid.aem-Grid--phone--11 > .aem-GridColumn.aem-GridColumn--phone--11 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--1 {
    width: 8.23333%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--2 {
    width: 16.56667%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--3 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--4 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--5 {
    width: 41.56667%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--6 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--7 {
    width: 58.23333%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--8 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--9 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--10 {
    width: 83.23333%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--11 {
    width: 91.56667%;
  }

  .aem-Grid.aem-Grid--phone--12 > .aem-GridColumn.aem-GridColumn--phone--12 {
    width: 99.9%;
  }

  .aem-Grid > .aem-GridColumn.aem-GridColumn--phone--newline:before,
  .aem-Grid > .aem-GridColumn.aem-GridColumn--phone--newline:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
  }

  .aem-Grid > .aem-GridColumn.aem-GridColumn--phone--newline:after {
    clear: both;
  }

  /* .aem-Grid > .aem-GridColumn.aem-GridColumn--phone--hide {
    display: none
  } */
}

@media (min-width: 600px) and (max-width: 991px) {
  .aem-Grid.aem-Grid--tablet--1 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--2 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--tablet--2 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--3 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--tablet--3 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--tablet--3 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--4 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--tablet--4 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--tablet--4 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--tablet--4 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--5 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 19.9%;
  }

  .aem-Grid.aem-Grid--tablet--5 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 39.9%;
  }

  .aem-Grid.aem-Grid--tablet--5 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 59.9%;
  }

  .aem-Grid.aem-Grid--tablet--5 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 79.9%;
  }

  .aem-Grid.aem-Grid--tablet--5 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--6 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 16.56667%;
  }

  .aem-Grid.aem-Grid--tablet--6 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--tablet--6 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--tablet--6 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--tablet--6 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 83.23333%;
  }

  .aem-Grid.aem-Grid--tablet--6 > .aem-GridColumn.aem-GridColumn--tablet--6 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--7 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 14.18571%;
  }

  .aem-Grid.aem-Grid--tablet--7 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 28.47143%;
  }

  .aem-Grid.aem-Grid--tablet--7 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 42.75714%;
  }

  .aem-Grid.aem-Grid--tablet--7 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 57.04286%;
  }

  .aem-Grid.aem-Grid--tablet--7 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 71.32857%;
  }

  .aem-Grid.aem-Grid--tablet--7 > .aem-GridColumn.aem-GridColumn--tablet--6 {
    width: 85.61429%;
  }

  .aem-Grid.aem-Grid--tablet--7 > .aem-GridColumn.aem-GridColumn--tablet--7 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 12.4%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 37.4%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 62.4%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--6 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--7 {
    width: 87.4%;
  }

  .aem-Grid.aem-Grid--tablet--8 > .aem-GridColumn.aem-GridColumn--tablet--8 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 11.01111%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 22.12222%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 44.34444%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 55.45556%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--6 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--7 {
    width: 77.67778%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--8 {
    width: 88.78889%;
  }

  .aem-Grid.aem-Grid--tablet--9 > .aem-GridColumn.aem-GridColumn--tablet--9 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 9.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 19.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 29.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 39.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--6 {
    width: 59.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--7 {
    width: 69.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--8 {
    width: 79.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--9 {
    width: 89.9%;
  }

  .aem-Grid.aem-Grid--tablet--10 > .aem-GridColumn.aem-GridColumn--tablet--10 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 8.99091%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 18.08182%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 27.17273%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 36.26364%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 45.35455%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--6 {
    width: 54.44545%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--7 {
    width: 63.53636%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--8 {
    width: 72.62727%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--9 {
    width: 81.71818%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--10 {
    width: 90.80909%;
  }

  .aem-Grid.aem-Grid--tablet--11 > .aem-GridColumn.aem-GridColumn--tablet--11 {
    width: 99.9%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--1 {
    width: 8.23333%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--2 {
    width: 16.56667%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--3 {
    width: 24.9%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--4 {
    width: 33.23333%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--5 {
    width: 41.56667%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--6 {
    width: 49.9%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--7 {
    width: 58.23333%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--8 {
    width: 66.56667%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--9 {
    width: 74.9%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--10 {
    width: 83.23333%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--11 {
    width: 91.56667%;
  }

  .aem-Grid.aem-Grid--tablet--12 > .aem-GridColumn.aem-GridColumn--tablet--12 {
    width: 99.9%;
  }

  .aem-Grid > .aem-GridColumn.aem-GridColumn--tablet--newline:before,
  .aem-Grid > .aem-GridColumn.aem-GridColumn--tablet--newline:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
  }

  .aem-Grid > .aem-GridColumn.aem-GridColumn--tablet--newline:after {
    clear: both;
  }

  /* .aem-Grid > .aem-GridColumn.aem-GridColumn--tablet--hide {
    display: none;
  } */
}
